{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_inner %}
    <div class="team-element-inner">
        {% for employee in element.data %}
            <div class="team-member">
                <div class="team-member-image">
                    {% if employee.personImage %}
                        <img src="{{ employee.personImage.url }}" alt="{{ employee.name }}">
                    {% endif %}
                </div>
                <div class="team-member-info">
                    <h3>{{ employee.name }}</h3>
                    <h4>{{ employee.position }}</h4>
                    <p>{{ employee.description|raw }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
